{% extends 'base.html.twig' %}
{% block body %}

<br>
<input type="button" value="Go Back" onclick="history.back(-1)"  class="btn btn-default" />
<br>
    <div class="col-lg-2">
{{ form_start(form) }}
    {{ form_widget(form) }}

<input type="submit" value="Create"
       class="btn btn-default pull-right" />
{{ form_end(form) }}
    </div>

{% if app.session.flashBag.has('success') %}
    <div class="col-lg-2 alert-danger bagSuccess>
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('alreadyExist') %}
    <div class="col-lg-2 alert-danger bagError>
        {% for msg in app.session.flashBag.get('alreadyExist') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('emptyField') %}
    <div>
        {% for msg in app.session.flashBag.get('emptyField') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}