{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <input type="button" value="Go Back" onclick="history.back(-1)"  class="btn btn-default" />
    <br>
    <h2>Grades of {{ student.username }}</h2>
    <h3>Average: {{ average }} </h3>
    <table class="table table-sm">
        <tbody>
        <th>Project</th>
        <th>Discipline</th>
        <th>Grade</th>
        <th>Comment</th>
        <th>Teacher</th>
        {% for mark in marks %}
            <tr>
                <td>{{ mark.project.name }}</td>
                <td>{{ mark.discipline.name }}</td>
                <td>{{ mark.mark }}</td>
                <td>{{ mark.comment }}</td>
                <td>{{ mark.discipline.teacher.username }}</td>
                <td><a href="{{ path("edit_grade", {'student_id': student.id, 'grade_id': mark.id}) }}">Edit Grade</a></td>
                <td><a href="{{ path("delete_grade", {'student_id': student.id, 'grade_id': mark.id}) }}">Delete Grade</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br>

    {% if app.session.flashBag.has('success') %}
        <div class="col-lg-2 alert-success bagSuccess">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}