{% extends 'base.html.twig' %}
{% block body %}
    <h2>All My Grades</h2>
    <h3>Average: {{ average }} </h3>
    <table class="table table-sm">
        <tbody>
        <th>Project</th>
        <th>Discipline</th>
        <th>Grade</th>
        <th>Comment</th>
        <th>Teacher</th>
        {% for mark in marks %}
            <tr>
                <td>{{ mark.project.name }}</td>
                <td>{{ mark.discipline.name }}</td>
                <td>{{ mark.mark }}</td>
                <td>{{ mark.comment }}</td>
                <td>{{ mark.discipline.teacher.username }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br>
{% endblock %}